.service-container {
  margin: 20px;
}
.service-wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  margin: 5% 10% 10%;
  align-items: center;
}
.service-container > h2 {
  text-align: center;
  padding: 10px;
}
.section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 2fr; */
  grid-gap: 10px;
  padding: 2rem;
}
.details {
  margin: 10px 10px;
}
